

    <% console.log('pan' + ": " + pan); %> 
    <% console.log('name' + ": " + pan.name); %> 
    <% console.log('description' + ": " + pan.description); %> 
    <% console.log('images' + ": " + pan.images); %> 

    <div class="card-img-top">
        <div id='<%= "carousel" + pan.name.split(" ").join("") %>' class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <% if (pan.images.length > 1) { %>

                    <% for (var i = 0; i < pan.images.length; i++){ %> 

                        <% if (i == 0) { %>
                            <button type="button" data-bs-target='<%= "#carousel" + pan.name.split(" ").join(""); %>' data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
                        <% } else { %>
                            <button type="button" data-bs-target='<%= "#carousel" + pan.name.split(" ").join(""); %>' data-bs-slide-to=<%= i %>  aria-label=<%= "Slide " + (i+1) %>></button>        
                        <% } %>
                        
                    <% } %>
                
                <% } %>
            </div>

            <div class="carousel-inner">

                <% for (var i = 0; i < pan.images.length; i++){ %> 

                    <% if (i == 0) { %>
                        <div class="carousel-item active">
                            <img src='<%= pan.images[i] %>' class="d-block w-100" alt='<%= pan.name %>'>
                          </div>
                    <% } else { %>
                        <div class="carousel-item">
                            <img src='<%= pan.images[i] %>' class="d-block w-100" alt='<%= pan.name %>'>
                          </div>
                    <% } %>
                    
                <% } %>

            </div>

            <% if (pan.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target='<%= "#carousel" + pan.name.split(" ").join(""); %>' data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target='<%= "#carousel" + pan.name.split(" ").join(""); %>' data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
            <% } %>

        </div>
    </div>
    


    <div class="card-body">
        <h5 class="card-title"><%= pan.name %> </h5>
        <p class="card-text">
            <%= pan.description %> 
        </p>
        <p class="card-text">
            <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        </p>
    </div>        


